<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <mvc:view-controller path="/reg.html" view-name="reg"/>
    <mvc:view-controller path="/test.html" view-name="test"/>
    <mvc:view-controller path="/login.html" view-name="login"/>
    <!--找回密码-->
    <mvc:view-controller path="/emailPswd.html" view-name="emailPswd"/>
    <mvc:view-controller path="/resetPawd.html" view-name="resetPawd"/>

</beans>